<div class="vote-widget">
      <span class="vote-btn vote-up {% if not user.is_authenticated %}disabled{% endif %}"
            data-action="up"
            {% if not user.is_authenticated %}title="Войдите, чтобы проголосовать" {% endif %}>+</span>
      <div class="vote-count">{{ rating }}</div>
      <span class="vote-btn vote-down {% if not user.is_authenticated %}disabled{% endif %}"
            data-action="down"
            {% if not user.is_authenticated %}title="Войдите, чтобы проголосовать" {% endif %}>-</span>
</div>