{% extends 'base.html' %}

{% block title %}Новый вопрос - Ivan Ask{% endblock %}

{% block content %}
<h2 class="mb-4">Задать вопрос</h2>

<form method="post" action="{% url 'ask' %}" class="mt-4">
    {% csrf_token %}
    
    {% include "core/includes/form_fields.html" with layout="horizontal" %}

    <div class="row mt-4">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary px-4">Опубликовать!</button>
        </div>
    </div>
</form>
{% endblock %}
