{% extends 'questions/base.html' %}

{% if tag or hot %}
{% block title %}{{ block.super }}: {{ title }}{% endblock %}
{% endif %}

{% block content %}
<div class="d-flex align-items-baseline mb-4">
    <h2 class="me-3">{{ title }}</h2>
    {% if not tag and not hot %}
    <a href="{% url 'hot' %}" class="text-decoration-none"><u>Hot Questions</u></a>
    {% endif %}
</div>

<!-- вопросы -->
{% for q in questions %}
<div class="question-card">
    <div class="row">
        <div class="col-2 text-center">
            <div class="avatar-box mx-auto mb-2 d-flex align-items-center justify-content-center">
                <span>{{ q.author }}</span>
            </div>

            {% include 'questions/components/rating.html' with rating=q.rating %}

        </div>
        <div class="col-10">
            <h3><a href="{% url 'question' q.id %}" class="text-decoration-none question-title">
                    {{ q.title }}
                </a></h3>
            <p class="text-muted question-content">{{ q.content }}</p>
            <div class="d-flex align-items-center mt-3">
                <a href="{% url 'question' 1 %}" class="me-3 text-decoration-underline">answer (3)</a>
                <span class="me-2">Tags:</span>
                {% for tag in q.tags %}
                <a href="{% url 'tag' tag %}" class="me-2 tag">{{ tag }}</a>
                {% endfor %}
            </div>

            <div class="text-end text-muted">
                <small>{{ q.created_at }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include 'questions/components/nav.html' with page=questions %}

{% endblock %}