{% extends 'questions/base.html' %}

{% if tag or hot %}
{% block title %}{{ block.super }} {{ title }}{% endblock %}
{% endif %}

{% block content %}
<div class="d-flex align-items-baseline mb-4">
    <h2 class="me-3">{{ title }}</h2>
    {% if not tag and not hot %}
    <a href="{% url 'hot' %}" class="text-decoration-none"><u>Hot Questions</u></a>
    {% endif %}
</div>

<!-- вопросы -->
{% for q in questions %}
<div class="question-card">
    <div class="row g-3">
        <div class="col-auto text-center">
            {% include 'questions/components/rating.html' with rating=q.rating %}
        </div>

        <div class="col">
            <h3><a href="{% url 'question' q.id %}" class="text-decoration-none question-title">
                    {{ q.title }}
                </a></h3>
            <p class="text-muted question-content">{{ q.content }}</p>
            <div class="d-flex align-items-center mt-3 flex-wrap gap-1">
                <a href="{% url 'question' q.id %}" class="me-3 text-decoration-underline">
                    answers ({{ q.answers_count }})
                </a>
                <span class="text-muted me-2">Tags:</span>
                {% for tag in q.tags.all %}
                <a href="{% url 'tag' tag.name  %}" class="me-2 tag">{{ tag }}</a>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                    <small>
                        <a href="#" class="fw-medium">
                            <img src="{{ q.author.profile.photo.url }}" alt="{{ q.author.name }}"
                                class="avatar-box-sm me-1 mb-2">
                            {{ q.author.profile.name }}
                        </a>
                    </small>
                </div>

                <div class="text-muted">
                    <small>{{ q.created_at|date:"d.m.Y H:i" }}</small>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}

{% include 'questions/components/nav.html' with page=questions %}

{% endblock %}