{% extends 'questions/base.html' %}

{% if tag or hot %}
{% block title %}{{ title }}{% endblock %}
{% endif %}

{% block content %}
<div class="d-flex align-items-baseline mb-4">
    <h2 class="me-3">{{ title }}</h2>
    {% if not tag and not hot %}
    <a href="{% url 'hot' %}" class="text-decoration-none">Hot Questions</a>
    {% endif %}
</div>

<!-- вопросы -->
{% for q in questions %}
<div class="question-card">
    <div class="row">
        <div class="col-2 text-center">
            <div class="avatar-box mx-auto mb-2 d-flex align-items-center justify-content-center">
                <span>{{ q.author }}</span>
            </div>

            <div class="vote-widget mx-auto p-0 mt-3">
                <div class="fw-bold me-1 vote-count">{{ q.rating }}</div>
                <span class="vote-btn me-1" data-action="up">▲</span>
                <span class="vote-btn" data-action="down">▼</span>
            </div>

        </div>
        <div class="col-10">
            <h3><a href="{% url 'question' q.id %}" class="text-decoration-none">
                    {{ q.title }}
                </a></h3>
            <p class="text-muted">{{ q.content|truncatewords:20 }}</p>
            <div class="d-flex align-items-center mt-3">
                <a href="{% url 'question' 1 %}" class="me-3 text-decoration-underline">answer (3)</a>
                <span class="me-2">Tags:</span>
                {% for tag in q.tags %}
                <a href="{% url 'tag' tag %}" class="me-2 text-decoration-none">{{ tag }}</a>
                {% endfor %}
            </div>

            <div class="text-end text-muted">
                <small>{{ q.created_at }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination">
        {% if questions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}

        {% for num in questions.paginator.page_range %}
            
            {% if num == 1 %}
                <li class="page-item {% if questions.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>

            {% elif num > questions.number|add:'-2' and num < questions.number|add:'2' %}
                {% if num != 1 and num != questions.paginator.num_pages %}
                    <li class="page-item {% if questions.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}

            {% elif num == questions.number|add:'-2' and num > 1 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% elif num == questions.number|add:'2' and num < questions.paginator.num_pages %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% elif num == questions.paginator.num_pages %}
                <li class="page-item {% if questions.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}

        {% endfor %}

        {% if questions.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}