{% extends 'base.html' %}

{% block title %}{{ question.title|truncatechars:50 }}{% endblock %}

{% block content %}
<div class="question-card mb-5">
    <div class="row g-3">
        <div class="col-auto text-center">
            {% include 'questions/components/rating.html' with rating=question.rating id=question.id type='question' user_vote=question.user_vote %}
        </div>
        <div class="col">
            <h3>{{ question.title }}</h3>
            <p>{{ question.content }}</p>
            {% if question.tags.all %}
            <div class="mt-3">
                <span class="text-muted me-2">Теги:</span>
                {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag.name %}" class="me-2 tag">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}


            <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap gap-1">
                <div>
                    <small>
                        {% if question.author %}
                        <a href="{% url 'user_questions' question.author.username %}" class="fw-medium">
                            {% if question.author.profile.photo %}
                            <img src="{{ question.author.profile.photo.url }}" alt="{{ question.author|name }}" class="avatar-box-sm me-1 mb-2">
                            {% endif %}
                            {{ question.author|name }}
                        </a>
                        {% else %}
                        <span class="text-muted">u/DELETED</span>
                        {% endif %}
                    </small>
                </div>

                <div class="text-muted">
                    <small>{{ question.created_at|date:"d.m.Y H:i" }}</small>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>

<div class="answers-list" 
     data-centrifugo-url="{{ CENTRIFUGO_URL }}" 
     data-centrifugo-token="{{ centrifugo_token }}" 
     data-question-id="{{ question.id }}">
    {% for answer in answers %}
    <div class="answer-card {% if answer.is_correct %}correct-answer{% endif %}" id="answer-{{ answer.id }}">
        <div class="row g-3">
            <div class="col-auto text-center">
                {% include 'questions/components/rating.html' with rating=answer.rating id=answer.id type='answer' user_vote=answer.user_vote %}
            </div>

            <div class="col">
                <p>{{ answer.content }}</p>

                <div class="form-check d-inline-block">
                    <input class="form-check-input correct-checkbox" type="checkbox" value="{{ answer.id }}" id="correct{{ answer.id }}"
                        {% if answer.is_correct %}checked{% endif %}
                        {% if user != question.author %}disabled{% endif %}>
                    <label class="form-check-label {% if answer.is_correct %}opacity-100 correct-label{% endif %}"
                        for="correct{{ answer.id }}">Верно!</label>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap gap-1">
                    <div>
                        <small>
                            {% if answer.author %}
                            <a href="{% url 'user_questions' answer.author.username %}" class="fw-medium">
                                {% if answer.author.profile.photo %}
                                <img src="{{ answer.author.profile.photo.url }}" alt="{{ answer.author|name }}" class="avatar-box-sm me-1 mb-2">
                                {% endif %}
                                {{ answer.author|name }}
                            </a>
                            {% else %}
                            <span class="text-muted">u/DELETED</span>
                            {% endif %}
                        </small>
                    </div>

                    <div class="text-muted">
                        <small>{{ answer.created_at|date:"d.m.Y H:i" }}</small>
                    </div>
                </div>

            </div>

        </div>
    </div>
    {% empty %}
    <div class="empty-state text-center py-2 px-3 bg-light rounded-3">
        <h4 class="fw-bold">Пока нет ни одного ответа</h4>
        <p class="text-muted mx-auto" style="max-width: 400px;">
            Станьте первым, кто ответит на вопрос!
        </p>
    </div>
    {% endfor %}

    {% include 'questions/components/nav.html' with page=answers %}

</div>

<div class="mt-5">
    <h4 class="mb-3">Ваш ответ</h4>
    <form method="post" action="{% url 'question' question.id %}">
        {% csrf_token %}
        
        {% include "core/includes/form_fields.html" with hide_labels=True %}
        
        <button type="submit" class="btn btn-dark px-4">Ответить</button>
    </form>
</div>
{% endblock %}
