{% extends "base.html" %}

{% block title %}Настройки - Ivan Ask{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Настройки: {{ user.username }}
            <a class="btn btn-outline-secondary" href="{% url 'user_questions' user.username %}">Мои вопросы</a>
        </h2>

        {% if user.profile.photo %}
        <div class="mb-4 text-center ">
            <img src="{{ user.profile.photo.url }}" alt="{{ user.username }}" class="img-thumbnail rounded-4"
                style="max-width: 200px;">
        </div>
        {% endif %}

        <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "core/includes/form_fields.html" %}

            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
</div>
{% endblock %}